/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * raleway:
 *   - http://typekit.com/eulas/000000000000000077359a0f
 *   - http://typekit.com/eulas/000000000000000077359a1e
 *   - http://typekit.com/eulas/000000000000000077359a17
 *   - http://typekit.com/eulas/000000000000000077359a21
 *   - http://typekit.com/eulas/000000000000000077359a32
 *   - http://typekit.com/eulas/000000000000000077359a33
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-02-11 15:30:14 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=zxs0dqz&ht=tk&f=18456.18457.18458.18460.22705.37555&a=21501633&app=typekit&e=css");

@font-face {
font-family:"raleway";
src:url("https://use.typekit.net/af/9f0f3f/000000000000000077359a0f/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/9f0f3f/000000000000000077359a0f/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/9f0f3f/000000000000000077359a0f/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"raleway";
src:url("https://use.typekit.net/af/497298/000000000000000077359a1e/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/497298/000000000000000077359a1e/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/497298/000000000000000077359a1e/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"raleway";
src:url("https://use.typekit.net/af/ad2413/000000000000000077359a17/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/ad2413/000000000000000077359a17/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/ad2413/000000000000000077359a17/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"raleway";
src:url("https://use.typekit.net/af/6d9c57/000000000000000077359a21/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/6d9c57/000000000000000077359a21/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/6d9c57/000000000000000077359a21/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

@font-face {
font-family:"raleway";
src:url("https://use.typekit.net/af/946b5d/000000000000000077359a32/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/946b5d/000000000000000077359a32/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/946b5d/000000000000000077359a32/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"raleway";
src:url("https://use.typekit.net/af/975607/000000000000000077359a33/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/975607/000000000000000077359a33/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/975607/000000000000000077359a33/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

.tk-raleway { font-family: "raleway",sans-serif; }
